[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-mistralai = "*"
yt-dlp = "*"
requests = "*"
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
python-dotenv = "*"
uuid = "*"
pydantic = {extras = ["email"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
authlib = "*"
httpx = "*"
feedparser = "*"
beautifulsoup4 = "*"
flower = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.2"
